/* ==UserStyle==
@name           Pi responsive
@version        1.0.1
@description    Pi website is more suitable for wide screens.
@author         BreatFR (https://breat.fr)
@namespace      https://gitlab.com/breatfr
@homepageURL    https://gitlab.com/breatfr/pi
@updateURL      https://gitlab.com/breatfr/pi/-/raw/main/css/pi-responsive.user.css
@supportURL     https://discord.gg/Q8KSHzdBxs
@license        AGPL-3.0-or-later; https://www.gnu.org/licenses/agpl-3.0.txt
==/UserStyle== */

/* === Credits ===
Website         https://breat.fr
facebook        https://www.facebook.com/breatfroff
mastodon        https://mastodon.social/@breat_fr
telegram        https://t.me/breatfr
vk              https://vk.com/breatfroff
X (twitter)     https://x.com/breatfroff
=== Credits === */

@-moz-document domain("pi.ai") {
    .\32xl\:max-w-\[47rem\] {
        max-width: 98%;
    }
}
